body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  padding: 20px;
}

h2 {
  margin-bottom: 10px;
}

form {
  margin-bottom: 15px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th {
  background-color: #2c3e50;
  color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

input[type="time"] {
  width: 100%;
  box-sizing: border-box;
}

#resumen {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.sospechoso {
  background: #fff3cd; /* amarillo suave */
}

.sospechoso td.horas {
  font-weight: bold;
}

button.invertir {
  padding: 4px 10px;
  cursor: pointer;
}
